$stanford-white: #FBFFFD;

$cardinal-dark: #620000;
$cardinal-red: #8C1515;
$cardinal-medium: #9C3535;
$cardinal-light: #e85757;
$cardinal-bg: #e9afaf;

$green-dark: #0F3533;
$green-stanford: #2F5553;
$green-medium: #4F7573;
$green-light: #8FB5B3;
$green-bg: #e7fff6;
